$GRASS_COLOR: green;
$NORMAL_COLOR: pink;
$FIRE_COLOR: red;

ul{
    list-style-type: none;
    margin: 0;
}

.grass{
    background-color:$GRASS_COLOR;
    color: rgba(black, .3);

    &:hover{
        background-color: darken( $GRASS_COLOR, 10%);
        color: black;
    }
}

.normal{
    background-color: $NORMAL_COLOR;

    &:hover{
        background-color: darken( $NORMAL_COLOR, 10%);
    }
}

.fire{
    background-color: $FIRE_COLOR;

    &:hover{
        background-color: darken( $FIRE_COLOR, 10%);
    }
}

li{
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
    padding:2rem;
    height: 150px;

    p{
        margin-left: 20px;
        margin-top: -5px;
        font-size: 3rem;
        
    }

    &:hover{
        background-color: #666666;
    }
}


